<nav>
    <input id="nav-toggle" type="checkbox">
    <div class="logo">
        <a href="/"><img src="../images/logo.png" alt=""></a>
    </div>
    <ul class="links">
        <li><a href="/">ANASAYFA</a></li>
        <li><a href="/about">HAKKIMIZDA</a></li>
        <li><a href="/contents">İÇERİKLER</a></li>
        <li><a href="/contact">İLETİŞİM</a></li>
        <li class="social-media-logos">
            <ul class="social-media-logo-list">
                <li><a href="https://tr.linkedin.com/company/iusmeta?trk=public_profile_topcard-current-company"><i class="bi bi-linkedin"></i></a></li>
                <li><a href="https://www.instagram.com/iusmeta/"><i class="bi bi-instagram"></i></a></li>
            </ul>
        </li>
    </ul>
    <label for="nav-toggle" class="icon-burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </label>
</nav><br /><br /><br /><br /><br />