<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/components/navbar.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/about.css" />
    <title>Admin Dashboard</title>
</head>
<body>
    <nav>
        <input id="nav-toggle" type="checkbox">
        <div class="logo">
            <a href="/"><img src="../images/logo.png" alt=""></a>
        </div>
        <ul class="links">
            <li>Admin <%= admin.name %></li>
            <li><a href="/">Yazılarım</a></li>
            <li><a href="/dashboard/add-post">Post Ekle</a></li>
        </ul>
        <label for="nav-toggle" class="icon-burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>
    </nav><br /><br /><br /><br /><br />

    <% contents.forEach(content => { %>
     <h3><%= content.title %></h3>
    <% }) %>
</body>
</html>