* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}
.content-filters {
  width: 100%;
  padding: 0px 50px;
  margin-bottom: 40px;
}

form {
  color: white;
}

form select {
  height: 30px;
  width: 90px;
  background-color: black;
  color: white;
}
form button {
  height: 30px;
  width: 90px;
  background-color: black;
  color: white;
}

@media only screen and (max-width: 900px) {
  .content-area {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
  }
}
